{% extends 'pages/base.html' %}

{% block title %}
    Draw Chart Page
{% endblock %}

{% block style %}
    <style>
        .table-wrapper {
            width: 100%;
            max-height: 450px;
            overflow-y: scroll;
            overflow-x: auto;
            display: inline-block;
        }
        .table-wrapper td {
            white-space: nowrap;
        }

    </style>
{% endblock %}

{% block content %}

<div class="row" style="margin-top: 15px;">
    <div class="col-2">
        <div class="container">
            <form action="/dataview/chart/" method="post">
                {% csrf_token %}
                <div class="form-check">
                    {% for m in machine %}
                    <label class="form-check-label" style="display: block;">
                        <input type="checkbox" class="form-check-input" name="machine" value="{{m}}" onchange="this.form.submit()" {% if m in selected %} checked {% endif %}>
                        {{m}}
                    </label>
                    {% endfor %}
                </div>
                <hr>
                <div class="">
                    <h5>Select date:</h5>
                    <label for="datepicker">From:</label>
                    <input type="date" name="from_date" id="datepicker" value="{{from_to_date.fromDate}}" class="form-control">
                    <label for="datepicker2">To:</label>
                    <input type="date" name="to_date" id="datepicker2" value="{{from_to_date.toDate}}" class="form-control">
                    <input class="btn  btn-success" type="submit" value="Filter">                   
                </div>
            </form>
        </div>
    </div>
    <div class="col">
        <div class="container">
            {% load static %}
            {% for m in mapList %}
            <div class="row" style="max-height: 500px;">
                <div class="col-5">
                    <h5>{{m.machine}}</h5>
                    <table class="table table-wrapper">
                        <thead>
                            <tr>
                                {% for th in m.table.th %}
                                <th>{{th}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for tr in m.table.tr %}
                            <tr>
                                {% for td in tr %}
                                <td scope="row">{{td}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <img src="{% static 'chart' %}/{{m.machine}}.png" alt="No Chart" sizes="60px" class="img-fluid">
                </div>
            </div>
            <hr style="color: black;">
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock %}