{% extends 'pages/base.html' %}

{% block title %}Chart v2 by HighCharts{% endblock %}

{% block script_head %}
    {%load static%}
    <script src="{% static 'highcharts/highcharts.js' %}"></script>
    <script src="{% static 'highcharts/exporting.js' %}"></script>
    <script src="{% static 'highcharts/export-data.js' %}"></script>
    <script src="{% static 'highcharts/accessibility.js' %}"></script>
{% endblock %}

{% block style %}
    <style>
        #chart-container {
            height: auto;
        }

        /* .highcharts-figure, */
        .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-figure {
            float: left;
        }

        #bar-chart-container {
            width: 100%;
            height: 100%;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    
        .table-wrapper {
            width: 100%;
            max-height: 600px;
            overflow-y: scroll;
            overflow-x: auto;
            display: inline-block;
        }
        .table-wrapper td {
            white-space: nowrap;
        }

        .table-wrapper th {
            position: sticky;
            top: 0;
            /* z-index: 1; */
        }

        .hidden {
            display: none;
        }

    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm col-xs col-lg-2">
        <div class="container">
            <div class="form-group">
                <form action="/dataview/chart_v2/" method="post">
                    {% csrf_token %}
                
                    <label for="machineID" class="mt-3">Select Machine</label>
                    <select class="custom-select" name="machine" id="machineID" onchange="this.form.submit()">
                        {% for machine in machines %}
                        <option value="{{machine}}" {% if machine == select %} selected {% endif %}>{{machine}}</option>
                        {% endfor %}
                    </select>
                    
                    <label for="chart_typeID">Select Chart</label>
                    <select class="custom-select" name="chart_type" id="chart_typeID" onchange="this.form.submit()">
                        <option value="regression" {% if chart_type == 'regression' %} selected {% endif %}>Regression Line</option>
                        <option value="line" {% if chart_type == 'line' %} selected {% endif %}>Machine Occupancy Rate</option>
                        <option value="bar" {% if chart_type == 'bar' %} selected {% endif %}>Short Stop</option>
                    </select>
                    <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
                    <div class="mt-3">
                        <!-- <p>Select date:</p> -->
                        <label for="datepicker">From:</label>
                        <input type="date" name="from_date" id="datepicker" value="{{from_to_date.fromDate}}" class="form-control" onchange="this.form.submit()">
                        <label for="datepicker2">To:</label>
                        <input type="date" name="to_date" id="datepicker2" value="{{from_to_date.toDate}}" class="form-control" onchange="this.form.submit()">
                        <input class="btn  btn-success" type="submit" value="Filter"/> 
                        <input class="btn btn-primary float-right" id="downloadBtn" type="button" value="Download"/>                  
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-5" id="regress-chart-id">
                    <!-- Data map table -->
                    <h5>{{select}}</h5>
                    <table class="table table-wrapper">
                        <thead class="thead-dark">
                            <tr>
                                {% for th in table.th %}
                                <th>{{th}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for tr in table.tr %}
                            <tr>
                                {% for td in tr %}
                                <td scope="row">{{td}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <!-- Regression Line + Scratter Chart -->
                    <figure class="highcharts-figure">
                        <div id="chart-container"></div>
                        <p class="highcharts-description">
                            <!-- {{select}} -->
                        </p>
                    </figure>
                </div>
            </div>
            <!-- Line chart, Machine Occupancy Rate -->
            <div class="row">
                <div class="container">
                    <figure class="highcharts-figure">
                        <div id="line-chart-container"></div>
                        <p class="highcharts-description">
                            <!-- {{select}} -->
                        </p>
                    </figure>   
                </div>
            </div>
            <!-- Bar chart -->
            <div class="row">
                <div class="container">
                    <figure class="highcharts-figure">
                        <div id="bar-chart-container"></div>
                        <p class="highcharts-description">
                            <!-- {{select}} -->
                        </p>
                    </figure>  
                </div>
                {% if chart_type == 'bar' %}
                <button type="button" class="btn btn-primary btn-large btn-block" id="detail_btn">Show Detail</button>
                {% endif %}
            </div>              
        <!-- </div> -->

    </div>
</div>
{% endblock %}



{% block script_tail %}
    <script type="text/javascript">
        // get data from django backend
        var regressionData = {{ regression }};
        var scratterData = {{ scratter }};
        var machine = '{{select}}';

        var chart_type = document.getElementById("chart_typeID").value;
        var regression_chart_ele = document.getElementById("chart-container");
        var line_chart_ele = document.getElementById("line-chart-container");
        var regression_div_ele = document.getElementById("regress-chart-id");
        var bar_chart_ele = document.getElementById("bar-chart-container");
        
        if (chart_type === "line" || chart_type === "bar"){
            var line_data_json = String.raw`{{ chart_data|safe }}`;
            var chart_data = JSON.parse(line_data_json); // type: Object
            chart_series = [];
            machines_arr = Object.keys(chart_data).filter(x => x != 'Date');
            machines_arr.forEach(function(key){
                chart_series.push({
                    name: key,
                    data: chart_data[key]
                });
            });
            console.log('line series', chart_series);
        }

        // console.log(chart_type)
        if (chart_type === "line" || chart_type === "bar") {
            console.log("Line");
            regression_chart_ele.style.setProperty('display', 'none');
            regression_div_ele.style.setProperty('display', 'none')
            line_chart_ele.style.setProperty('display', 'initial');
        } else {
            console.log("Regression")
            regression_chart_ele.style.setProperty('display', 'initial');
            regression_div_ele.style.setProperty('display', 'initial');
            line_chart_ele.style.setProperty('display', 'none');
        }
            
        // Seperate x, y axis values 
        var [xAxisValues, yAxisValues] = [[], []];
        scratterData.forEach(function(scratter){
            // console.log(scratter);
            xAxisValues.push(scratter[0]);
            yAxisValues.push(scratter[1]);
        })

        // console.log({regressionData}, {scratterData}, xAxisValues, yAxisValues)
        // console.log('line chart data', chart_data,typeof(chart_data))
        // BaseLine Chart Data

        // Regression Line
        if( chart_type == 'regression' ) {
            Highcharts.chart('chart-container', {
                chart: {
                    height: 600,
                    // styledMode: true
                },
                title: {
                    text: 'Scatter plot with regression line'
                },
                xAxis: {
                    min: 0,
                    max: Math.max(...xAxisValues),
                    gridLineWidth: 1
                },
                yAxis: {
                    min: 0,
                    max: Math.max(...yAxisValues),
                    gridLineWidth: 1
                },
                series: [{
                    lineWidth: 3,
                    type: 'line',
                    color: '#9312e3',
                    name: 'Regression Line',
                    data: regressionData,
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            lineWidth: 0
                        }
                    },
                    enableMouseTracking: true
                }, {
                    type: 'scatter',
                    name: 'Machine O.R <-> Production',
                    data: scratterData,
                    marker: {
                        symbol: 'circle',
                        radius: 5
                    }
                }]
            });
        }
        // Base Line
        if (chart_type == 'line'){
            Highcharts.chart('line-chart-container', {
                chart: {
                    type: 'line',
                    width: 1000,
                    height: 500
                },
                title: {
                    text: 'Occupancy Rate of Machine'
                },

                tooltip: {
                    headerFormat: '<b>{series.name}</b><br/>',
                    pointFormat: '{point.category}: {point.y}'
                },
            
                subtitle: {
                    text: ''
                },
            
                yAxis: {
                    title: {
                        text: 'Machine O.R'
                    }
                },
            
                xAxis: {
                    accessibility: {
                        rangeDescription: 'Range: 2010 to 2017'
                    },
                    categories: chart_data['Date']
                },
            
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
            
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        // pointStart: 15
                    },
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        // enableMouseTracking: false
                    }
                },
            
                series: chart_series,
            
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 1000
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
        }
        // Short time stop get data
        if(chart_type == 'bar') {
        // Bar chart --> display short time stop
            Highcharts.chart('bar-chart-container', {
                chart: {
                    type: 'column',
                    width: 1000,
                    height: 500
                },
                title: {
                    text: 'Short time Stop'
                },
                subtitle: {
                    text: 'Stop time <= 10 minutes'
                },
                xAxis: {
                    categories: chart_data['Date'],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '<10min Stop times'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} times</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: chart_series,
            });
        }

    // Download data btn click handler
    downloadBtnEle = document.getElementById("downloadBtn");
    downloadBtn.addEventListener ("click", function(){
        fromDate = document.querySelector('[name = from_date]').value;
        toDate = document.querySelector('[name = to_date]').value;
        // console.log("Click Download Btn", fromDate)
        chart_name = ''
        switch(chart_type){
            case 'regression':
                chart_name = 'RegressionLine-Map-Data';
                break;
            case 'line':
                chart_name = 'Machine-Occupancy_Rate';
                break;
            case 'bar':
                chart_name = 'Short-Time-Stop';
                break;
            default:
                chart_name = 'Chart-Data';
        }
        filename = `${chart_name}_${make_from_to_date(fromDate, toDate)}.xlsx`
        // Fetch to request file
        fecthDownloadExcel(filename);
        })

    detailBtnEle = document.getElementById("detail_btn");
    detailBtnEle.addEventListener('click', function(){
        console.log("Detail ......");
        // fetch to handler service
        fetch('/dataview/chart_v2/get_ss_detail/',{
            method: 'GET',
        }).then(res => console.log(res))

        // Redirect to Chart detail page
        window.location.replace('/dataview/chart_v2/chart_detail');

    })
    </script>
{% endblock %}