{% extends "pages/base.html" %}

    {% block title %}
    {% endblock %}

    {% block style %}
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
    {% endblock %}

    {% block content %}

    {% if form != False %}
    <div class="row" style="margin-top: 20px;">
        <div class="container">
            <h5 class="text-left">Select Alarm Report Files</h5>
            <form action="/dataview/loaddata/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <!-- <label for="alarmFiles">Select Files</label> -->
                <!-- <input type="file" name="alarmFiles" id="alarmFiles" multiple /> -->
                <input type="submit" class="btn btn-outline-success float-right" value="Upload"/>

                <!-- <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    {{form}}
                    <label class="custom-file-label" for="id_alarmFiles">Choose file</label>
                    <input type="submit" class="btn btn-outline-success float-right" value="Upload"/>
                </div> -->
                <!-- <div class="input-group-append">
                    
                </div> -->
                <!-- <div class="input-group"> -->
                    <!-- <div class="custom-file"> -->
                      <!-- <input type="file" class="custom-file-input" id="inputGroupFile04"> -->
                      <!-- <label class="custom-file-label" for="id_alarmFiles"></label> -->
                      <!-- {{form}} -->
                    <!-- </div> -->
                    <!-- <div class="input-group-append"> -->
                        <!-- <input type="submit" class="btn btn-outline-success float-right" value="Upload"/> -->
                    <!-- </div> -->
                <!-- </div> -->
            </form>
            <hr>
        </div>  
    </div>
    
    {% else %}
    <div class="row">
        <div class="container">
            <h2>Data show in Table</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                {% for th in table.th %}
                    <th> {{ th }} </th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for row in table.tr %}
                        <tr>
                            {% for td in row %}
                            <td> {{ td }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
    
    {% endif %}

    {% endblock %}
