<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load File test</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <form action="/dataview/loaddata/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Upload"/>
    </form>
    <hr>
    <!-- {{ data.columns }} -->
    <h2>Data show in Table</h2>
    <table>
        <tr>
            {% for label in data.columns %}
            <th>
                {{ label }}   
            </th>
            {% endfor %}
        </tr>
        <tr>
            {% for col in data.columns %}
            <td>
                {{ data.iloc[0][col] }}
            </td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>