{% extends 'pages/base.html' %}

{% block title %}
    Machine Occupancy Summary
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">
            <div class="container">
                <div class="form-group">
                    <form action="/dataview/summary/" method="post">
                        {% csrf_token %}
                    
                        <label for="summaryID">Select Data</label>
                        <select class="custom-select" name="summarySelect" id="summaryID" onchange="this.form.submit()">
                            <option value="performance">Machine O.R</option>
                            <option value="yieldmonth" {% if select == 'yieldmonth' %} selected {% endif %}>Yeild Month</option>
                        </select>
                        <!-- Date select field -->
                        <div class="">
                            <h5>Select date:</h5>
                            <label for="datepicker">From:</label>
                            <input type="date" name="from_date" id="datepicker" value="{{from_to_date.fromDate}}" class="form-control">
                            <label for="datepicker2">To:</label>
                            <input type="date" name="to_date" id="datepicker2" value="{{from_to_date.toDate}}" class="form-control">
                            <input class="btn  btn-success" type="submit" value="Filter">                   
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col justify-content-center">
            <div class="container">
                <h2 class="text-left">Summary of {% if select == 'yieldmonth' %} Yeild Month {% else %} Machine O.R {% endif %}</h2>
                <table class="table table-hover table-inverse table-responsive" id="summary_table">
                    <thead class="thead-dark">
                        <tr>
                            {% for th in table.th %}
                                <th>{{ th }}</th>
                            {% endfor %}
                                <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for row in table.tr %}
                                <tr>
                                    {% for td in row %}
                                        <td>{{ td }}</td>
                                    {% endfor %}
                                        <td><a id = {{row}} class="btn-sm btn-danger"onclick="delFunc()">Del</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_tail %}
    <script>
        // table = document.getElementById("summary_table");
        // rows = table.getElementsByTagName("tr");
        // // console.log(rows)
        // for (i = 1; i < rows.length; i++){
        //     row = table.rows[i];
        //     row.ondblclick = function() {
        //         var cell =  this.getElementsByTagName("td")[0];
        //         var date = cell.innerHTML;
        //         var submit = confirm(date)
        //         console.log(submit, date)
        //     }
        // }
        function delFunc(){
            console.log("delete");
            // rowParent = this.parentElement.parentElement;
            // cell = rowParent.getElementsByTagName("td")[0].innerHTML;
            // element = event.srcElement;
            // console.log(element, typeof(element));
            // dateElement = element.parentNode
            event.preventDefault()
            onclickEle = event.target;
            // Get 1st td column --> date
            getDate = onclickEle.parentElement.parentElement.getElementsByTagName("td")[0].innerHTML;
            console.log(getDate)
            delConfirm = confirm("Delete " + getDate)
            // console.log(delConfirm)
            if (delConfirm) {
                
            }
        }
        // Add Event Listener for delete button
        table = document.getElementById('summary_table');
        rows = table.getElementsByTagName('tr');
        // console.log(rows)
        // for (i = 1; i < rows.length; i++){
        //     row = rows[i];
        //     rowDate = row.getElementsByTagName('td')[0].innerHTML;

        //     delLink = row.getElementsByTagName('a')[0];
        //     // console.log(delLink)
        //     delLink.setAttribute('href', '/dataview/del/?date=' + rowDate)
        //     delLink.onclick = function(e){
        //         e.preventDefault();
        //         console.log(i)
        //         // confirmDel = confirm('Are you sure delete this item ' + rowDate)
        //     }
        // }

        function onClickHandler(date){
            console.log(date)
        }
    </script>
{% endblock %}
