{% extends 'pages/base.html' %}

{% block title %}
    Machine Occupancy Summary
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">
            <div class="container">
                <div class="form-group">
                    <form action="/dataview/summary/" method="post">
                        {% csrf_token %}
                    
                        <label for="summaryID">Select Data</label>
                        <select class="custom-select" name="summarySelect" id="summaryID" onchange="this.form.submit()">
                            <option value="performance">Machine O.R</option>
                            <option value="yieldmonth" {% if select == 'yieldmonth' %} selected {% endif %}>Yeild Month</option>
                            <option value="shortstop" {% if select == 'shortstop' %} selected {% endif %}>Short Time Stop</option>
                        </select>
                        <!-- Date select field -->
                        <div class="">
                            <!-- <h5>Select date:</h5> -->
                            <label for="datepicker">From:</label>
                            <input type="date" name="from_date" id="datepicker" value="{{from_to_date.fromDate}}" class="form-control" onchange="this.form.submit()">
                            <label for="datepicker2">To:</label>
                            <input type="date" name="to_date" id="datepicker2" value="{{from_to_date.toDate}}" class="form-control" onchange="this.form.submit()">
                            <!-- <button class="btn  btn-success" type="submit">Filter</button>        -->
                            <button id="downloadBtn" class="btn  btn-success float-right" type="button" onclick="downloadFunc()">Download</button>  
                            <!-- {% load static %} 
                            <a href="{% static '/book1.xlsx' %}" download="name__.xlsx">test download</a>             -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col justify-content-center">
            <div class="container">
                <h2 class="text-left">Summary of {% if select == 'yieldmonth' %} Yeild Month {% elif select == 'performance' %} Machine O.R {% else %} Short Time Stop {% endif %}</h2>
                <table class="table table-hover table-inverse table-responsive" id="summary_table">
                    <thead class="thead-dark">
                        <tr>
                            {% for th in table.th %}
                                <th>{{ th }}</th>
                            {% endfor %}
                                <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for row in table.tr %}
                                <tr>
                                    {% for td in row %}
                                        <td>{{ td }}</td>
                                    {% endfor %}
                                        <td><a id = {{row}} class="btn-sm btn-danger"onclick="delFunc()">Del</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_tail %}
    <script>
        // Download file handler
        function downloadFunc(){
            console.log("Download File...");
            select = document.getElementsByName("summarySelect")[0];
            selectedData = select.options[select.selectedIndex].value;
            fromDate = document.querySelector('[name = from_date]').value;
            toDate = document.querySelector('[name = to_date]').value;
            // console.log({fromDate, toDate});

            filename = `${selectedData}_${make_from_to_date(fromDate, toDate)}.xlsx`
            // Fetch to request file
            fecthDownloadExcel(filename);
        }

        function delFunc(){
            console.log("delete");
            // rowParent = this.parentElement.parentElement;
            // cell = rowParent.getElementsByTagName("td")[0].innerHTML;
            // element = event.srcElement;
            // console.log(element, typeof(element));
            // dateElement = element.parentNode
            event.preventDefault()
            onclickEle = event.target;
            // Get 1st td column --> date
            getDate = onclickEle.parentElement.parentElement.getElementsByTagName("td")[0].innerHTML;
            console.log(getDate)
            delConfirm = confirm("Delete " + getDate)
            // console.log(delConfirm)
            if (delConfirm) {
                
            }
        }


        function onClickHandler(date){
            console.log(date)
        }
    </script>
{% endblock %}
